language: go

go:
- "1.13"
- "1.14"

install:
- go get github.com/antlr/antlr4

script:
- go test -race -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)
